

main div h1{
    text-align: center;
    margin-bottom: 100px;
}

.texto_filme{
    font-size: small;
}

@media (min-width: 772px) and (max-width:1400px) { 

    #card3{
        display: none !important;
    }
 }

 @media (min-width: 768px) and (max-width: 1024px){


    #card2{
        display: none !important;
    }
 }

 
     
 @media (max-width: 376px){
     .news{
         display: block !important;
     }

     .video{
        width: 320px;
        height: 200px ;
     }
 }


 @media (max-width: 769px){
     .news{
         display: block !important;
     }
 }

 @media (min-width: 1201px){

    #navbarSupportedContent{
        margin-left: 300px;
    }
 }

 .destaques-img img{
    height: 350px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(241, 243, 245);
 }

 .texto{
     color: white;
     text-align: center;
 }

 .lancamento-text{
     font-family: Arial, Helvetica, sans-serif;
 }
 